* {
    box-sizing: border-box;
    font-family: 'GlacialIndifferenceRegular';
    font-size: 1rem;
}

body {
    margin:0;
}

.flex-container{
    display: flex;
    width:100%;
}

.container-fluid{
    display: flex;
    flex-flow: column;
    align-items: center;
    position: relative;
}

.logo{
    display: flex;
    justify-content: center;
    padding: 10px;
    width: 100%;
    height: auto;
}

.logo img{
    height: 50%;
    width:50%;
}

.logo-mobile{
    display: none;
    background-color: dimgray;
    padding: 20px;
}
.logo-mobile img{
    width: 100%;
    height: auto;
    
}

.video-banner{
    position: relative;
	padding-bottom: 56.25%; /* 16:9 */
    height: 0;
    z-index: 0;
}

.page-banner{
    width:100%;
}

.video{
    width: 100%;
}

.overlay {
    position:absolute;
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
    top: 0;
    z-index:1;
    color: rgba(240, 248, 255, 0.582);
    width: 100%;
    height: 100%;
}

.overlay-container{
    display:flex;
    align-items: center;
    flex-flow: column;
}

.topnav {
    overflow: hidden;
    background-color:dimgray;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.active {
    background-color: rgb(33, 89, 163);
    color: white;
}

.topnav .icon {
    display: none;
}

.content{
    padding: 10px;
    display: flex;
    flex-flow: column;
}

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {
        display: none;
        
    }
    .topnav a.icon {
        float: right;
        display: block;
    }
   
}

@media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    .logo-mobile{
        display:block;
        width: 100%;
    }

    .logo{
        display: none;
    }
    
}